In [26]:
import pandas as pd 
import numpy as np

In [27]:
import os 

work_dir = os.path.dirname(os.getcwd())
data_dir = os.path.join(work_dir, 'data')
output_dir = os.path.join(work_dir, 'output')

In [28]:
df = pd.read_csv(os.path.join(output_dir, 'llm_results_analysis.csv'), sep=';')

In [29]:
df.head(10)

,id,voter_id,name,house_number,age,gender,parent_or_spouse_name_only,predicted_gender,is_correct
0,20.0,TNH3552262,Jtender Kumar Singh K,46,66.0,MALE,Rajkumar Singh,MALE,True
1,8.0,TNH3421906,Aslam Uddin,18,28.0,MALE,Bodrul Hoque,MALE,True
2,28.0,TNH3421898,Romij Uddin Choudhary,18,32.0,MALE,Junab Ali Choudary,MALE,True
3,NaN,TNH2625077,Suma B,17/B,34.0,FEMALE,Late Vishnu Bahaddur,FEMALE,True
4,NaN,TNH2625085,Sharadamma,17 B,55.0,FEMALE,Late Vishnu,FEMALE,True
5,NaN,TNH2625085,Sharadamma,17 B,55.0,FEMALE,Late Vishnu,FEMALE,True
6,NaN,TNH2625085,Sharadamma,17 B,55.0,FEMALE,Late Vishnu,FEMALE,True
7,NaN,TNH3874401,Kauser Fathima,No 14/2 ‘1st Floor,41.0,FEMALE,Faziur Reheman,FEMALE,True
8,NaN,TNH3518768,Huda Fathima,14/3,25.0,FEMALE,Mohammed Afzal,FEMALE,True
9,23.0,TNH3508488,Mohammed Mahabubunnisa,14/2,43.0,FEMALE,Shaik Abdul Basha,FEMALE,True

In [30]:
# Count of the number of times for which gender classification was done by llm
df[df['predicted_gender'].isin(['MALE','FEMALE'])].shape[0]

712

In [31]:
# correct count
df[df['predicted_gender'].isin(['MALE','FEMALE']) & df['is_correct'] == 1].shape[0]

672

In [32]:
# Calculate the correct percentage
print("Accuracy: ", df[df['predicted_gender'].isin(['MALE','FEMALE']) & df['is_correct'] == 1].shape[0] / df[df['predicted_gender'].isin(['MALE','FEMALE'])].shape[0] * 100)

Accuracy:  94.3820224719101

Accuracy comparing it with llm parser increased to 94 percentage from 88 percentage.