In [1]:
import pandas as pd 
import numpy as np

In [7]:
import os 

work_dir = os.path.dirname(os.getcwd())
data_dir = os.path.join(work_dir, 'data')
output_dir = os.path.join(work_dir, 'output')

In [9]:
df = pd.read_csv(os.path.join(output_dir, 'llm_results_analysis.csv'))

In [10]:
df.head(10)

,id,voter_id,name,house_number,age,gender,parent_or_spouse_name_only,predicted_gender,is_correct
0,53.0,TNH3526647,Noor Ayesha,454,25,FEMALE,Sab Jan,FEMALE,True
1,NaN,TNH3526639,Sab Jan,454,57,MALE,Peer Sab,MALE,True
2,54.0,TNH3657004,Anusuya Bai R,302,23,FEMALE,Narayan Rao V,FEMALE,True
3,50.0,TNH2587293,Venkataramu.G,170/,31,MALE,Late. Gurumurthy,MALE,True
4,49.0,TNH1000421,Mangalamma,170/,51,FEMALE,Late Guru Murthy,FEMALE,True
5,NaN,TNHO415489,Rekha,170,34,FEMALE,Kumar K,FEMALE,True
6,NaN,TNH2642809,Nagarathna,170,35,FEMALE,Kumar M,FEMALE,True
7,NaN,TNHO415679,Kumar K,170,40,MALE,Krishnappa T,MALE,True
8,NaN,TNH0657908,Kumar M,170,48,MALE,NaN,MALE,True
9,NaN,TNH2250280,Chikkathayamma,170,58,FEMALE,Krishnappa,FEMALE,True

In [14]:
# Count of the number of times for which gender classification was done by llm
df[df['predicted_gender'].isin(['MALE','FEMALE'])].shape[0]

684

In [17]:
# correct count
df[df['predicted_gender'].isin(['MALE','FEMALE']) & df['is_correct'] == 1].shape[0]

604

In [19]:
# Calculate the correct percentage
print("Accuracy: ", df[df['predicted_gender'].isin(['MALE','FEMALE']) & df['is_correct'] == 1].shape[0] / df[df['predicted_gender'].isin(['MALE','FEMALE'])].shape[0] * 100)

Accuracy:  88.30409356725146